<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NTP Champions League</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <nav class="navbar is-info">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/" style="font-weight:bold;">NTP Champions League</a>
        <span class="navbar-burger burger" data-target="nav-menu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="nav-menu" class="navbar-menu">
        <div class="navbar-start">
          {% ifunequal username nil %}
          <a href="/scores" class="navbar-item{% ifequal page "scores.html" %} is-active{%endifequal%}">Scores</a>
          <a href="/handicaps"
            class="navbar-item{% ifequal page "handicaps.html" %} is-active{%endifequal%}">Handicaps</a>
          {% endifunequal %}
          {% ifequal username "admin" %}
          <a href="/register" class="navbar-item{% ifequal page "register.html" %} is-active{%endifequal%}">Add
            Golfer</a>
          <a href="/score" class="navbar-item{% ifequal page "enter_score.html" %} is-active{%endifequal%}">Add
            Score</a>
          {% endifequal %}
        </div>
        <div class="navbar-end">
          {% ifunequal username nil %}
          <p class="navbar-item">Logged on as: {{username}}</p>
          <a href="/logout" class="navbar-item{% ifequal page "logout.html" %} is-active{%endifequal%}">Logout</a>
          {% endifunequal %}
        </div>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </section>

  <!-- scripts -->
  <script type="text/javascript">
    (function () {
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#' + burger.dataset.target);
      burger.addEventListener('click', function () {
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
  </script>

  {% block page-scripts %}
  {% endblock %}
</body>

</html>