{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="columns">
    <div class="column is-half">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Golfer</th>
          <th>Handicap</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in handicaps %}
          <tr>
            <td>{{item.golfer_name}}</td>
            <td>{{item.handicap}}</td>
            <td><a href="/scores/{{item.golfer_name}}">View Scores</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
 </div>
</div>
{% endblock %}