{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="columns">
    <div class="col-xs-4">
      <form method="POST" action="/login">
        {% csrf-field %}

        <p>
          Username:
          <input class="input" type="text" name="username" value="{{username}}" />
        </p>
        {% if errors.username %}
        <div class="notification is-danger">{{errors.username|join}}</div>
        {% endif %}

        <p>
          Password:
          <input class="input" type="password" name="password" value="{{password}}" />
        </p>
        {% if errors.password %}
        <div class="notification is-danger">{{errors.password|join}}</div>
        {% endif %}

        <input type="submit" class="button is-primary" value="Submit" />
      </form>
    </div>
  </div>
</div>
{% endblock %}