{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="columns">
    <div class="col-xs-4">
      <form method="POST" action="/register">
        {% csrf-field %}
        <p>
          Name:
          <input class="input" type="text" name="name" value="{{name}}" />
        </p>
        {% if errors.name %}
        <div class="notification is-danger">{{errors.name|join}}</div>
        {% endif %}

        <p>
          Email:
          <input class="input" type="text" name="email" value="{{email}}" />
        </p>
        {% if errors.email %}
        <div class="notification is-danger">{{errors.email|join}}</div>
        {% endif %}

        <p>
          User Name:
          <input class="input" type="text" name="username" value="{{username}}" />
        </p>
        {% if errors.username %}
        <div class="notification is-danger">{{errors.username|join}}</div>
        {% endif %}

        <p>
          Password:
          <input class="input" type="text" name="password" value="{{password}}" />
        </p>
        {% if errors.password %}
        <div class="notification is-danger">{{errors.password|join}}</div>
        {% endif %}

        <p>
          Confirm Password:
          <input class="input" type="text" name="password-confirm" value="{{password-confirm}}" />
        </p>
        {% if errors.password-confirm %}
        <div class="notification is-danger">{{errors.password-confirm|join}}</div>
        {% endif %}

        <input type="submit" class="button is-primary" value="Register" />
      </form>
    </div>
  </div>
</div>
{% endblock %}